<form id="email-capture" class="inline-form">
  <h4 class="subhead-2">Sorry, we don't currently deliver to your zipcode, if you leave your email we'll be in touch when we launch.</h4>
  <input type="hidden" name="zip_code" id="zip_code" value="{{zip_code}}" />
  <div class="row collapse">
    <div class="small-8 columns">
      <input type="email" name="email" id="email" maxlength="100" required placeholder="Email address" />
    </div>
    <div class="small-4 columns">
      <button type="submit" class="prefix">Go</button>
    </div>
  </div>
  <p class="legal">We will never sell your email address or spam you.</p>
</form>