@import "~client/store/views/style/variables";

.snDeliveryInfoExternal_Body {
  padding: 32px $standard-gutter;
}

.snDeliveryInfoExternal_Heading {
  font-size: 18px;
  font-weight: $heavy-font-weight;
  margin: 0 auto 8px;
  max-width: 425px;
  text-align: center;
}

.snDeliveryInfoExternal_Subheading {
  color: $brand-dark-grey;
  font-size: 16px;
  margin-bottom: 40px;
  text-align: center;
}
