<%= error_messages_for 'ship_category' %>
<fieldset class="span-12">
  <div class="row">
    <div class="large-6 column">
      <label>Name</label>
      <%= form.text_field :name %>
    </div>
    <div class="large-6 column">
      <label>Pim Name</label>
      <%= form.text_field :pim_name %>
    </div>
  </div>
</div>
