<% content_for :store, false %>
<% content_for :standard_template, true %>
<% content_for :title, 'Account' %>
<% content_for :js_page, 'pages/account' %>

<div class="title-bar">
  <div class="row">
    <div class="large-12 column center">
      <h1 class="heading-title">Account</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-3 medium-3 column nav-column">
    <%= render partial: 'account/shared/navigation' %>
  </div>
  <div class="large-9 medium-9 column">
    <%= form_for @account, url: account_overview_path, method: :PUT do |f| %>
      <%=  render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
</div>
