<style>
  .download-row {
    margin-top: 20px;
  }
  .download-wrapper {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .download-wrapper a {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  .link-button {
    max-width: 125px;
    height: auto;
  }
</style>
<tr class="download-row">
  <td class="download-wrapper" style="justify-content: center;">
    <a href="https://minibar.onelink.me/BsHn/">
      <img class="link-button pad-right" src="https://minibardelivery.com/assets/components/elements/mb-app-store-link/ios-app-store.png" align="center" alt="Download from the App Store">
    </a>
    <a href="https://minibar.onelink.me/BsHn/">
      <img class="link-button" src="https://minibardelivery.com/assets/components/elements/mb-app-store-link/play-store.png" align="center" alt="Download from Google Play">
    </a>
  </td>
</tr>
