<br />
<table class="center">
  <tbody>
    <tr>
     <th class="large-12 columns first last">
      <table>
        <tr>
          <th>
            <center data-parsed="">
              <a href="https://minibardelivery.com/gift-cards">
                <img src='<%= asset_url('email/banners/egift-card-banner.jpg') %>'>
              </a>
            </center>
          </th>
        </tr>
      </table>
     </th>
    </tr>
  </tbody>
</table>
