<br />
<table class="container">
  <tbody>
    <tr>
      <th class="large-12 columns first last">
      <table>
        <tr>
          <th>
            <center data-parsed="">
              <a href="https://minibardelivery.com/gift-cards?utm_source=mailgun&utm_medium=email&utm_campaign=scheduled_order_confirmation_email&utm_content=gift-cards">
                <img src='<%= asset_url('email/banners/banner_giftcards.jpeg') %>'>
              </a>
            </center>
          </th>
        </tr>
      </table>
      </th>
    </tr>
  </tbody>
</table>
