<%# Intended for use with the foundation2 layout %>
<!-- Header Logo -->
<table align="center" class="row">
  <tbody>
    <tr>
      <td>

        <th class="small-12 large-12 columns first last">
          <table>
            <tr>
              <th class="float-center">
                <center data-parsed="">
                  <a href="<%= root_url %>" class="text-center">
                    <img src="<%= asset_url('email/logo_86@2x.png') %>" width="86" height="86" align="center" class="float-center logo" />
                  </a>
                </center>
              </th>
              <th class="expander"></th>
            </tr>
          </table>
        </th>

      </td>
    </tr>
  </tbody>
</table>
