<p>Hi <%= @user.first_name %>,</p>
<p>Thanks for being such a great Minibar Delivery customer. Enjoy $5 off your next order with code: <%= raw format_code(@coupon_code) %>. The rewards don’t stop here... get $5 off after every five orders.</p>
<p>
  Cheers,<br />
  Lindsey<br />
  Minibar Delivery Co-Founder
</p>