<% content_for :small_header, true %>
<% content_for :user_facing, true %>
<% content_for :email_reason, 'you requested to be placed on the waitlist at Minibar Delivery' %>
<table class="container sub"> <!-- INTRO TEXT BEGIN -->
  <tr>
    <td>
      <table class="row">
        <tr>

          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td class="panel">
                  <table class="section">
                    <tr>
                      <td>
                        <p class="indent dark">
                          You’re on our list.<br/><br/>
                          Thank you for signing up for Minibar Delivery. We know you’re looking forward to convenient and fast delivery of your wine & spirits, so we’ll let you know when we’re up and running in your area.<br/><br/>
                        </p>
                        <p class="indent dark">
                          Cheers,<br/>
                          Lara & Lindsey<br/>
                          Co-founders<br/><br/>
                        </p>
                        <p class="indent dark">
                          p.s. Check out our <a class="text-link" href="http://instagram.com/minibardelivery">Instagram</a>, <a class="text-link" href="http://twitter.com/minibardelivery">Twitter</a>, and <a class="text-link" href="http://facebook.com/minibardelivery">Facebook</a> to see what we’re up to.
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table> <!-- INTRO TEXT END -->
