<% content_for :title, 'Create Product Routing' %>
<h3>New Product Routing</h3>

<%= form_for @product_routing, url: admin_product_routings_path do |form| %>
  <%= render partial: 'form', locals: {form: form } %>

  <%= submit_tag "Create", :class  => "button" %>
<% end %>
