<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td align="center">
            <center>
              <p class="footer-text" style="text-align:center;">&copy; <%= Time.zone.now.year %> LLJ Inc, All Rights Reserved &mdash; Made in NYC</p>
            </center>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>