<%= error_messages_for 'cart' %>
<fieldset class="span-12">
  <div class="row">
    <div class="large-6 column">
      <div>
        <label>Name</label>
        <%= form.text_field :name %>
      </div>
    </div>
  </div>
</fieldset>
