<div class="row">
  <div class='large-12 column panel'>
    <h4>Cart Items</h4>
      <table>
        <thead>
          <tr class='odd'>
            <th>Identifier</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% cart.cart_items.each do |cart_item| %>
            <tr>
              <td>
                <%= cart_item.identifier %>
              </td>
              <td>
                <%= link_to "Edit", edit_admin_cart_cart_item_path(cart, cart_item), class: 'button tiny' %>
                <%= link_to "Delete", admin_cart_cart_item_path(cart, cart_item), data: { confirm: 'Are you sure?' }, method: :delete, class: 'button tiny secondary' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%= link_to "New Cart Item", new_admin_cart_cart_item_path(cart), class: 'small button' %>
  </div>
</div>