@import "~client/store/views/style/variables";
@import "../_variables";

.cmDNavCart_Container {
  display: flex;
  padding-left: $standard-gutter;
  position: relative; // positions cart dropdown

  @media only screen and (max-width: $nav-contract-max-width) {
    padding-right: $standard-gutter;
  }
}

.cmDNavCart_Link {
  display: flex;
  align-items: center;
  padding: 0 $standard-gutter;
  transition: $nav-hover-transition;
  padding-bottom: 2px;
  position: relative; // positions countInd

  &.cmDNavCart_Link__DropdownVisible,
  &:hover {
    @include nav-hover-state;
  }
}

.cmDNavCart_CountInd {
  position: absolute;
  right: 12px;
  top: 11px;
}
