<% content_for :title, 'Create Storefront Font' %>
<h3>New Storefront Font</h3>

<%= form_for @storefront_font, url: admin_storefront_storefront_fonts_path(@storefront) do |form| %>
  <%= render partial: 'form', locals: {form: form } %>

  <%= submit_tag "Create", :class  => "button" %>
<% end %>
