<div class="row">
  <div class="large-6 column">
    <div>
      <%= form.label 'Client ID' %>
      <%= form.text_field :client_id, value: @storefront.client_id, disabled: true %>
    </div>
    <div>
      <%= form.label 'SDK Whitelisted Domain' %>
      <%= form.text_field :sdk_whitelisted_domains, value: @storefront.sdk_whitelisted_domains&.join(', ') %>
    </div>
  </div>
</div>
