<tr>
  <td><%= business_supplier.business.name %></td>
  <td><%= business_supplier.score %></td>
  <td><%= business_supplier.status %></td>
  <td>
    <%= link_to "Edit", edit_admin_business_supplier_path(business_supplier), class: 'button tiny' %>
  </td>
</tr>
