<% content_for :small_header, true %>
<% content_for :user_facing, true %>
<% content_for :email_reason, 'you suspended your subscription with Minibar Delivery' %>
<table class="container sub"> <!-- INTRO TEXT BEGIN -->
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td class="panel">
                  <table class="section">
                    <tr>
                      <td>
                        <p class="indent dark small no-bottom">
                          Hi <%= @subscription.user.first_name %>,
                        </p><br/>
                        <p class="indent dark small no-vertical">
                          We're confirming your request to suspend your auto-refill subscription.
                          <br><br>
                          When you’re ready to reactivate auto-refill, simply access your <%= link_to 'account page', account_subscriptions_url, class: 'text-link' %> or reach out to us at <a class="text-link" href="mailto:help@minibardelivery.com">help@minibardelivery.com.</a> If you prefer, call us at <a class="text-link" href="tel:+18554870740">(855) 487-0740</a>.
                          <br><br>
                          Thanks for choosing Minibar!
                        </p><br/>
                        <p class="indent dark small">
                        Cheers, <br/>
                        Minibar Delivery
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table> <!-- INTRO TEXT END -->
