  <h2 class="heading-3 center">Thanks, a download link is on its way!</h2>
  <p class="notice center">While you are waiting, why not share Minibar with your friends.</p>
  <ul class="inline-list social-icons sms-share-social">
    <li>
      <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.minibardelivery.com" target="_blank">Facebook</a></li>
    <li>
      <a class="icon-twitter" href="https://twitter.com/share?related=minibardelivery&hashtags=minibar,nyc&text=If%20you%20are%20in%20NYC%20download%20the%20%40minibardelivery%20app%20-%20delivering%20wine%20and%20liquor%20in%20under%20an%20hour!&url=https%3A%2F%2Fminibardelivery.com" target="_blank">Tweet</a>
    </li>
  </ul>
