.facet-bar {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 40px;
  padding: 0 2em;
  width: 100%;

  & > :first-child {
    flex-grow: 1;
  }

  @media (max-width: 767px) {
    padding: 0 1em;
  }
}
