<% content_for :small_header, false %>
<% content_for :user_facing, true %>
<% content_for :email_reason, 'you placed an order with Minibar Delivery' %>
<table class="container sub top-border"> <!-- INTRO TEXT BEGIN -->
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td class="panel">
                  <table class="section">
                    <tr>
                      <td>
                        <p class="indent dark small no-vertical">
                          Thank you for your purchase. You could win tickets to the Super Bowl, flights to Minneapolis, accommodations for two, and more. To confirm your entry, click the link below. Contest ends January 17th at 11:59pm EST, so don’t wait.
                          <br>
                          <br>
                          <center>
                            <table class="button radius">
                              <tr>
                                <td class="bottom-padding-medium">
                                  <table>
                                    <tr>
                                      <td>
                                        <a href="http://blog.minibardelivery.com/blog/2017/12/21/enter-to-win-tickets-to-super-bowl-52">
                                          ENTER NOW
                                        </a>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </center>
                        </p>
                        <p class="indent dark small no-vertical">
                          <br>
                          <b>Prize Details:</b>
                          <br>
                          <ul>
                            <li class="small dark">Lodging accommodations (Friday, February 2 – Monday February 5, 2018)</li>
                            <li class="small dark">Round trip flights for 2 people to MSP from home city within the continental US</li>
                            <li class="small dark">Two tickets to the Super Bowl Game</li>
                            <li class="small dark">Two tickets to the Bud Light Player’s Tailgate (pre-game)</li>
                            <li class="small dark">Round trip transportation to/from MSP airport, and Bud Light Events</li>
                            <li class="small dark">Friday night chef experience for two, featuring Rocco DiSpirito</li>
                            <li class="small dark">Saturday night Bud Light private concert with Zac Brown Band and Gavin DeGraw</li>
                          </ul>
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table> <!-- INTRO TEXT END -->
