@import 'minibar/mixins';
@import 'minibar/animations/grow';
@import 'minibar/animations/cutout_spinner';
@import 'minibar/animations/pulse';
@import 'minibar/animations/splat';
@import 'minibar/animations/highlight';
@import 'minibar/animations/shake';
@import 'minibar/animations/button_loader';
@import 'minibar/components/flex_grid';
@import 'minibar/components/sprites';
@import 'minibar/components/buttons';
@import 'minibar/components/cart_info';
@import 'minibar/components/typography';
@import 'minibar/components/footer';
@import 'minibar/components/forms';
@import 'minibar/components/header';
@import 'minibar/components/hero';
@import 'minibar/components/pages';
@import 'minibar/components/panels';
@import 'minibar/components/tables';
@import 'minibar/components/lightbox';
@import 'minibar/components/lists';
@import 'minibar/components/grids';
@import 'minibar/components/labels';
@import 'minibar/components/product_grid';
@import 'minibar/components/content_placements';
@import 'minibar/components/content_placements_cart';
@import 'minibar/modules/address_entry_lightbox';
@import 'minibar/pages/about';
@import 'minibar/pages/account';
@import 'minibar/pages/book-a-bartender';
@import 'minibar/pages/drink-and-do-good';
@import 'minibar/pages/generic';
@import 'minibar/pages/give-a-gift';
@import 'minibar/pages/homepage';
@import 'minibar/pages/invite';
@import 'minibar/pages/myaccount';
@import 'minibar/pages/oauth-page';
@import 'minibar/pages/order_survey';
@import 'minibar/pages/press_page';
@import 'minibar/pages/privacy';
@import 'minibar/pages/promo_landing_page';
@import 'minibar/pages/regions';
@import 'minibar/pages/store_browse';
@import 'minibar/pages/store_cart';
@import 'minibar/pages/store_cart_share';
@import 'minibar/pages/store_checkout';
@import 'minibar/pages/store_details';
@import 'minibar/pages/store_filters';
@import 'minibar/pages/store_partners';
@import 'minibar/pages/supplier_page';
@import 'minibar/pages/terms_of_service';
@import 'minibar/pages/vineyard_select';
@import 'minibar/pages/modules/party-planner';
@import 'minibar/pages/promos/brand-page';
@import 'minibar/pages/promos/bud-light-hoops';
@import 'minibar/pages/promos/pernod-ricard-winter';
@import 'minibar/pages/promos/total-wine';
@import 'minibar/cocktails/index';
//@import 'minibar/sticky_footer';
@import 'minibar/css3';
@import 'minibar/fix_branch';
@import '../vendor/pace/basic';
@import '../vendor/glide/core';
@import '../vendor/glide/theme';
@import '../shared/credit_card';

// these are setting us up to move over to css modules
// they're down here to give them the highest priority possible, as they're intended to replace everything else.
@import 'minibar/views/elements/MBCarousel';
@import 'minibar/views/elements/MBGrid';
@import 'minibar/views/elements/MBIcon';
@import 'minibar/views/elements/MBImageGrid';
@import 'minibar/views/elements/MBLayout';
@import 'minibar/views/elements/MBRadio';
@import 'minibar/views/elements/MBTooltip';
@import 'minibar/views/elements/MBTouchable';
@import 'minibar/views/elements/MBTopBanner';
@import 'minibar/views/compounds/address_entry';
@import 'minibar/views/compounds/text_block';
@import 'minibar/views/compounds/column_layout';
@import 'minibar/views/compounds/link_list';
@import 'minibar/views/compounds/shipping_required_notification';
@import 'minibar/views/compounds/vineyard_select_warning';
@import 'minibar/views/scenes/store_cart/ShipmentPanel';
@import 'minibar/views/scenes/store_checkout_confirm/ShipmentList';
@import 'minibar/views/scenes/store_delivery_info/CurrentDeliveryInfo';
@import 'minibar/views/scenes/store_delivery_info/SupplierSwitching';
@import 'minibar/views/scenes/store_supplier_map/SupplierMap';
@import 'minibar/_hosted_fields.scss';

// Utility Classes

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.nomargin {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.float-right {
  float: right;
}

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

// Global UI Components
a:hover {
  text-decoration: none;
}

img {
  color: #d9d9d9;
  font-size: convert-to-em(11);
  text-align: left;
}

// Page Sections

.is-mobile {
  #layout {
    overflow: hidden;
  }
}

em {
  color: $brand-red;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.important {
  color: $brand-red;
  font-weight: bold;
}

.terms {
  h2 {
    font-size: convert-to-em(24);
    text-align: center;
  }
  h3 {
    color: $brand-red;
    font-size: convert-to-em(18);
    text-align: center;
  }
}


// Store Components
.input-button-group { //make border radii work
  >:not(:first-child):not(:last-child) {
    input,
    button,
    .button {
      border-radius: 0;
    }
  }

  >:first-child {
    input,
    button,
    .button {
      border-bottom-right-radius: 0 !important;
      border-top-right-radius: 0 !important;
      margin-right: 0 !important;
      width: 100%;
    }
  }

  >:last-child {
    input,
    button,
    .button {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      margin-left: 0 !important;
      width: 100%;
    }
  }
}

.table-minimal {
  border: none;
  background: transparent;
  width: 100%;
}

.table-minimal tr {
  background: transparent;
}

.store-detail-view {
  margin-top: convert-to-em(12);
  @media screen and (max-width: 767px) {
    #order-placed-header {
      padding-top: 25px;
    }
  }
}

p.error, #promo-errors {
  font-weight: 300;
  font-size: 15px;
  color: $brand-error-red;
  line-height: 24px;
  margin-bottom: 12px;
}

#promo-errors {
  color: $brand-dark-grey;
  &.error {
    color: $brand-error-red;
  }
}

.select-list {
  list-style-type: none;
  border: 1px solid lighten($brand-dark-grey, 40%);
  border-bottom-width: 0;
  li {
    cursor: pointer;
    background-color: lighten($brand-dark-grey, 50%);
    border-left: 6px solid transparent;
    border-bottom: 1px solid lighten($brand-dark-grey, 40%);
    font-size: convert-to-em(12);
    padding: convert-to-em(6);
  }
  li:hover {
      background-color: lighten($brand-dark-grey, 55%);
  }
  .selected {
    border-left-color: $brand-red;
    background-color: lighten($brand-dark-grey, 60%);
  }
}

.add-to-cart {
  user-select: none;
}
