// State Colors
$flagged:       #61b6d9;
$active:        #13A94A;
$inactive:      #F06533;
$pending:       #F2CE3B;

// Stock Colors
$out-of-stock:  #F2CE3B;
$in-stock:      #13A94A;

// Other
$tag:           #9A53C5;
