<li>
  <% charge.charge_transitions.order(created_at: :desc).each do |transition| %>
  <div>
    <h5>
      <strong><%= transition.to_state %></strong>
      <i><%= transition.created_at.to_formatted_s(:long) %></i>
    </h5>
  </div>

  <div>
    <% if transition.metadata.key?(:errors) %>
      <strong>Errors:</strong>
      <p><%= errors_for_transaction(transition).join('<br />').html_safe %></p>
    <% end %>
  </div>

  <div>
    <strong>Details:</strong>
    <p><%= transaction_details(transition&.metadata) %></p>
  </div>
  <% end %>
</li>
