<tr >
  <td> <%= variant_form.text_field :sku, :class => 'span-3' %> </td>
  <td> <%= variant_form.text_field :price, :class => 'span-2' %> </td>
  <td> <%= variant_form.text_field :cost, :class => 'span-2' %> </td>
</tr >