<h3>New Macro Message</h3>

<%= simple_form_for(@macro_message, :url => admin_config_macro_messages_path) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= f.submit "Create Macro", class: "button" %>
<% end %>
