.el-mbicon--close{
  width: 16px;
  height: 16px;
}

.el-mbicon--back{
  width: 9px;
  height: 16px;
}

.el-mbicon--check{
  width: 12px;
  height: 12px;
}

.el-mbicon--pencil {
  width: 24px;
  height: 24px;
}

.el-mbicon--clock {
  width: 18px;
  height: 18px;
}

.el-mbicon--clear {
  width: 15px;
  height: 15px;
}
