.top-banner {
  background-color: $brand-black;
  color: $brand-white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-size: 11px;

  padding: 10px;

  @media screen and (max-width: 992px) {
    font-size: 13px;
    height: 45px;
  }

  p {
    margin: 0;
  }

  a {
    color: $brand-white;
    text-decoration: underline;
  }
}