<a href="https://minibardelivery.com/shop_now">
  <table class="container sub-top-first"> <!-- HEADER IMAGE BEGIN -->
    <tr>
      <td class="wrapper last" width="580px">
        <table class="section-logo" width="100%">
          <tr>
            <td>
              <center data-parsed="">
                <img class="center" src="<%= logo.blank? ? asset_url('email/logo_60@2x.png') : asset_url(logo) %>" alt="Minibar" height="60px" />
              </center>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>  <!-- HEADER IMAGE END -->
</a>
