<div class="row">
  <div class="large-5 large-centered medium-9 column">
    <div class="checkout-frame" id="checkout-login-form">
      <h3 class="modal-header">Log in to your account</h3>
      <div class="checkout-panel">
        <form id="form-login">
          <div class="errors"></div>
          <div class="row form-row">
            <div class="large-12 column">
              <label for="login-email">Email Address</label>
              <input tabindex="1" type="email" name="email" id="login-email" placeholder="you@yourdomain.com" required>
            </div>
          </div>
          <div class="row">
            <div class="large-12 column">
              <label for="login-password">Password <span class="secondary"><a href="/users/password/new" target="_blank">Forgot Password?</a>
</label>
              <input tabindex="2" type="password" name="password" id="login-password" required>
            </div>
          </div>
          <div class="row">
            <div class="large-12 column">
              <button tabindex="3" type="submit" class="button expand" id="button-log-in">Log in</button><br>
              <a tabindex="4" class="button secondary expand" id="button-new-user">Continue as a New User</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>