<h2 class="modal-header">Session Expired</h2>
<div class="modal-container">
  <p>Your session has expired. If you'd like to continue shopping, please refresh!<br></p>
  <p><a id="refreshbox-cta" class="button expand">Refresh</a></p>
</div>