<% content_for :small_header, true %>
<% content_for :user_facing, true %>
<% content_for :email_reason, 'someone requested a new password for your account at Minibar Delivery' %>


<table class="container container-main" align="center"> <!-- INTRO TEXT BEGIN -->
  <tbody>
    <tr>
      <td><%= render partial: 'customer_notifier/header_logo' %></td>
    </tr>
    <tr>
      <td>
        <table class="row">
          <tbody>
            <tr>
              <th class="small-12 large-offset-2 large-8 columns first">
                <table>
                  <tr>
                    <th>
                      <p class="text-left">Hi <%= @resource.first_name %>,</p>
                      <p class="text-left">We've received a request to reset your password. Tap the button below to set a new one.</p><br />
                      <center data-parsed="">
                        <table align="center" class="button radius indent no-vertical">
                          <tr>
                            <td>
                              <table>
                                <tr>
                                  <td>
                                    <%= link_to 'Reset Password', edit_password_url(@resource, reset_password_token: @token), class: 'no-vertical button-text' %>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </center>
                      <p class="text-left">
                        If you need help resetting your password contact us at <a class="text-link" href="tel:+18554870740">(855) 487-0740</a> or <a class="text-link" href="mailto:help@minibardelivery.com">help@minibardelivery.com</a><br/><br/>
                        Cheers, <br/>
                        Minibar Delivery
                      </p>
                    </th>
                  </tr>
                </table>
              </th>
              <th class="small-12 large-2 last columns"></th>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table><!-- INTRO TEXT END -->
