<% content_for :title, 'Create Storefront Redirection URL' %>
<h3>New Storefront Redirection URL</h3>

<%= form_for @storefront_redirection_url, url: admin_storefront_storefront_redirection_urls_path(@storefront) do |form| %>
  <%= render partial: 'form', locals: {form: form } %>

  <%= submit_tag "Create", :class  => "button" %>
<% end %>
