<div class="row collapse">
  <div class="small-4 column text-center">
    <div class="row collapse">
      <span>Total Shipments</span>
    </div>

    <div class="row collapse">
      <span><b><%= shipments_count %></b></span>
    </div>
  </div>

  <div class="small-4 column text-center">
    <div class="row collapse">
      <span>Total Cancelations</span>
    </div>

    <div class="row collapse">
      <span><b><%= canceled_shipments_count %></b></span>
    </div>
  </div>

  <div class="small-4 column text-center">
    <div class="row collapse">
      <span>Cancelation Rate (%)</span>
    </div>

    <div class="row collapse">
      <span><b><%= cancelation_rate %>%</b></span>
    </div>
  </div>
</div>

</br>
