<div id="modal-additional-upc-removal-<%= upc %>" class="reveal-modal medium" data-reveal>
  <h3>Additional UPC Removal</h3>

  <div class="remove-additional-upc" id="remove-additional-upc-<%= upc %>"></div>
</div>
