<div id="modal-add-additional-upc" class="reveal-modal medium" data-reveal>
  <div class="large-12 column">

      <h3>New Additional UPC</h3>

      <div class="add-additional-upc" id="add-additional-upc-<%= product.id %>"></div>

  </div>
</div>
